 .avatar-container{
    margin-bottom: 20px;
 }
 
 .avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover; /* cubre todo el espacio del div */
 }

 .card{
    max-width: 400px;
    margin: 40px auto;
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .description-container{
    margin-bottom: 15px;
 }

 .contact-container{
    margin-bottom: 15px;
 }

 .links a{
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
 }

 .link-card{
    display: inline-block;
    margin: 15px;
    padding: 10px 20px;
    background: lightgray;
    border-radius: 8px;
    text-decoration: none;
 }

 .card ul{
    text-align: left;
    margin-top: 10px;
 }

 .card li{
    margin-bottom: 8px;
 }